.masthead {
    width: 100%;
    background-color: black;
    height: 150px;
    /* position: relative; */
    /* margin-bottom: 150px; */

}
.name {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}

.linkcard{
    background-color: black;
    height: 150px;
    width: 320px;
    position: absolute;
    right: 0px;
}
.links{
    display: inline;
}
.githubicon{
    height: 120px;
    width: 120px;
    margin-bottom: 0px;
}
.linkedinicon{
    height: 120px;
    width: 120px;
    margin-bottom: 0px;
}

.cardlink {
    color: black;
}
nav{
    height:120px;

    background-color: black;
}
/* .bio{
    padding: 10px;
    margin: 5px;
    width: 60%;
    right: 100px;
    top: 100px;
    font-size: 18px;
    position: absolute;
} */



