body{
    background-color: black;
}
.pheading{
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
}
.ptext{
    background-color: rgba(0,0,0,0.5);
    width: auto;
}
#project1 {
    background-image: url("../images/foodtruck.jpg");
    background-size: cover;
    width: 70%;
    padding-top: 40px;
}
#project2 {
    background-image: url("../images/valentin-rechitean-elFPAMiuxOo-unsplash.jpg");
    background-size: cover;
    width: 70%;
    padding-top: 40px;
}
#project3 {
    background-image: url("../images/spencer-davis-o_XkavUaGEw-unsplash2.jpg");
    background-size: cover;
    width: 70%;
    padding-top: 40px;
}
#project4 {
    background-image: url("../images/dogmemory.jpg");
    background-size: cover;
    width: 70%;
    padding-top: 40px;
}
#project5 {
    background-image: url("../images/bamazoncust.png");
    background-size: cover;
    width: 70%;
    padding-top: 40px;
}

.name {
    margin: 0;
    /* font-size: 64px; */
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}
/* body :hover{
    box-shadow: 10px 10px grey;
} */
.githubicon{
    height: 120px;
    width: 120px;
    /* margin-right: 20px; */
    margin-bottom: 0px;
    float: right;
}
.linkedinicon{
    height: 120px;
    width: 120px;
    margin-bottom: 0px;
}
.parallax-container {
    height: 800px;
}

.cardlink {
    color: black;
}
#headshot {
    border-radius: 25%;
    width: 100%;
}
.bio{
    margin: 0px;
    font-size: 18px; 
   } 
.card-title{
    background-color: black;
}
.myheader {
    padding:0px;
    padding-top:10px;
}
.picandbio{
    margin-top: 120px;
    margin-bottom: 100px;
}

   @media screen and (min-width: 608px){
    .myheader{
        height:155px;
    }
   }
@media screen and (max-width: 599px){
    .githubicon{
        height: 100px;
        width: 100px;
        /* margin-right: 20px; */
        margin-bottom: 0px;
    }
    .linkedinicon{
        height: 100px;
        width: 100px;
        margin-bottom: 0px;
    }
}