body{
    background-color: black;
}
.name {
    margin: 0;
    /* font-size: 64px; */
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}

.linkcard{
    background-color: black;
    height: 150px;
    width: 320px;
    position: absolute;
    right: 0px;
}
.links{
    display: inline;
}
.githubicon{
    height: 120px;
    width: 120px;
    /* margin-right: 20px; */
    margin-bottom: 0px;
}
.linkedinicon{
    height: 120px;
    width: 120px;
    margin-bottom: 0px;
}

.cardlink {
    color: black;
}
nav{
    height:120px;
    background-color: black;
}

.bio{
    margin: 0px;
    font-size: 18px; 
   } 
.card-title{
    background-color: black;
}


   @media screen and (min-width: 608px){
    .myheader{
        height:155px;
    }
   }
@media screen and (max-width: 599px){
    .githubicon{
        height: 100px;
        width: 100px;
        /* margin-right: 20px; */
        margin-bottom: 0px;
    }
    .linkedinicon{
        height: 100px;
        width: 100px;
        margin-bottom: 0px;
    }
}